body {
  /* background-color: red; */
  background-attachment: fixed;
  background-image: url("https://hdwallsource.com/img/2016/8/kill-bill-sword-computer-wallpaper-54203-55936-hd-wallpapers.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 22px;
  min-height: 700px;
}

h1 {
  font-size: 80px;
  margin-left: 200px;
}

.content {
  background-attachment: fixed;
  background-image: url("https://pre00.deviantart.net/c2c1/th/pre/i/2005/119/c/a/lined_paper_by_ll_stock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-color: #fff; */
  height: 400px;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 40px;
  padding: 20px;
  position: absolute;
  width: 402px;
}

h3 {
  font-size: 30px;
}

a {
  color: black;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: line-through;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: orange;
}

textarea {
  background-attachment: fixed;
  background-image: url("https://pre00.deviantart.net/c2c1/th/pre/i/2005/119/c/a/lined_paper_by_ll_stock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid 2px red;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  height: 100px;
  margin-left: 200px;
  padding: 20px;
  vertical-align: top;
  width: 400px;
  /* margin-bottom: 0px; */
}

textarea:focus {
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #cc0000
}

button {
  background-color: #DA9929;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 20px;
  height: 45px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-top: 10px;
  width: 90px;
}
